// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
textarea{
  vertical-align: top;
}

h4{
  margin-top: 20px !important;
  margin-bottom: 30px !important;
}

.index-headline{
  margin-left: 50px;
}

.card{
  width: 70%;
  margin: 0 auto;
  padding: 20px 30px;
  background-color: white;
  overflow: hidden;
  box-shadow: 0 2px 6px #c1ced7;
  color: black;
}

.card:hover{
  background-color: rgb(220, 220, 220);
  text-decoration: none;
}

.evaluation{
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
  }
  .evaluation input[type='radio']{
    display: none;
  }
  .evaluation label{
    position: relative;
    padding: 10px 10px 0;
    color: gray;
    cursor: pointer;
    font-size: 2rem;
  }
  .evaluation label .text{
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    text-align: center;
    font-size: 1rem;
    color: gray;
  }

  label{
    padding-top: 0px !important;
  }

  .assessment label:hover,
  .assessment label:hover ~ label,
  .evaluation input[type='radio']:checked ~ label{
    color: #ffcc00;
  }

  .posts-item{
    margin-top: 20px;
  }

  .posts-index-item .datetime{
    text-align: right;
  }